body {
	padding: 16px;
}

#canvas {
	width: 512px;
	height: 480px;
	image-rendering: pixelated;
	image-rendering: crisp-edges;

	border: 4px solid black;
	background-color: black;
}

#main {
	margin-top: 32px;
}